<footer>
    <p>&copy; 2025 Blockdenker. Alle Rechte vorbehalten.</p>
    <nav>
        <ul>
            <li><a href="/pages/impressum.html">Impressum</a></li>
            <li><a href="/pages/datenschutz.html">Datenschutz</a></li>
            <li><a href="/pages/kontakt.html">Kontakt</a></li>
            <li><a href="https://twitter.com/miotares" target="_blank">Twitter</a></li>
            <li><a href="https://github.com/miotares" target="_blank">GitHub</a></li>
            <li><a href="/pages/spenden.html">Spenden</a></li>
        </ul>
    </nav>
</footer>