
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="Blockdenker">
<meta name="robots" content="index, follow">
<meta property="og:site_name" content="Blockdenker">
<meta name="twitter:site" content="@miotares">
<title>Blockdenker – Bitcoin & Wissen</title>
<script type="module" src="../scripts/scripts.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../styles/style.css">
