<header>
    <a href="/index.html" id="home-link">
    <h1 class="logo-container">
        <img id="logo" src="/images/logo-blockdenker-380-380.png" alt="Blockdenker Logo">
        <span>Blockdenker</span>
    </h1>
    <p>Dein unabhängiger Blog und Wissensportal rund um Bitcoin, Wirtschaft und Politik.</p>
</a>
</header>

<nav id="nav">
    <ul>
        <li><a href="/index.html">Startseite</a></li>
        <li><a href="/pages/articles.html">Artikel</a></li>
        <li><a href="/pages/tutorials.html">Tutorials</a></li>
        <li><a href="/pages/resources.html">Ressourcen</a></li>
        <li><a href="/pages/spenden.html">Spenden</a></li>
    </ul>
</nav>