<header>
    <a href="/" id="home-link">
        <div class="logo-title-container">
            <h1 class="logo-container">
                <img id="logo" src="/images/blockdenker-logo-adjusted.png" alt="Blockdenker Logo">
                <span>Blockdenker</span>
            </h1>
            <p class="header-subtitle" style="margin-bottom: 10px;">Dein Blog zu Bitcoin, Wirtschaft und Politik.</p>
        </div>
    </a>

    <!-- Menü-Button -->
    <div class="menu-toggle">&#9776;</div>

    <!-- Navigation -->
    <nav id="nav" class="">
        <ul>
            <li><a href="/">Startseite</a></li>
            <li><a href="/pages/articles/">Artikel</a></li>
            <li><a href="/pages/tutorials/">Tutorials</a></li>
            <li><a href="/pages/resources/">Ressourcen</a></li>
            <li><a href="/pages/spenden/">Spenden</a></li>
        </ul>
    </nav>
</header>