<section id="info-ticker">
    <div id="ticker">
        <span>BTC/EUR: <a href="https://coinmarketcap.com/de/currencies/bitcoin/" id="ticker-link" target="_blank"><strong id="btc-price">Lädt...</strong></a></span>
        <span>24h: <a href="https://coinmarketcap.com/de/currencies/bitcoin/" id="ticker-link" target="_blank"><strong id="btc-change">Lädt...</strong></a></span>
        <span>Fees: <a href="https://mempool.space/de/" id="ticker-link" target="_blank"><strong id="mempool-fees">Lädt...</strong></a></span>
        <span>Blockhöhe: <a href="https://mempool.space/de/" id="ticker-link" target="_blank"><strong id="block-height">Lädt...</strong></a></span>
        <span>Mempool: <a href="https://mempool.space/de/" id="ticker-link" target="_blank"><strong id="unconfirmed-tx">Lädt..</strong></a></span>
    </div>
</section>